body {
    display: flex;
}

li {
    list-style-type: none;
}

.sidebar {
    background-color: yellow;
    flex-direction: column;
    display: flex;
    width: 30%;
}

.main {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.titre {
    display: flex;
    flex-direction: column;
    background-color: blue;
    order: 1;
}


/* Sidebar */

.pp {
    display: flex;
    width: 40%;
    margin-left: 25%;
    margin-top: 5%;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebarTitle {
    background-color: grey;
    color: yellow;
}

ul.contact {
    background-color: turquoise;

}

<<<<<<< HEAD
#presentation {
  /*  margin-left: 15%; */
    margin-top: 5%;
}

#coordonees {
    margin-top: 5%;
    text-align: center;
    /*margin-left: 10%;*/
}

#competences {
    text-align: center;
    margin-top: 5%;
    /*margin-left: 22%;*/
}

#langues {
    text-align: center;
    margin-top: 5%;
   /* margin-left: 25%; */
}

#formations {
    text-align: center;
    margin-top: 5%;
    /*margin-left: 5%;*/
=======
.description {
    margin-left: 15%;
    margin-right: 15%;
}

.listeLoisirs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 10%;
}

#loisirs {
    color: #37474F;
    font-size: 200%;
}

/* Main */

.main {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 5%;
}

.trait {
    color: #FDD835;
    border-top: 2px solid;
    padding-bottom: 2%;
}

/* Titre */

.titreInfo {
    display: flex;
    flex-direction: row;
    font-size: 300%;
    margin-bottom: -3%;
}

.prenom {
    margin-right: 1%;
    color: yellow;
}

.metier {
    font-size: 200%;
    font-weight: bolder;
}

/* formation */


.formation {
    display: flex;
    background-color: greenyellow;
    order: 2;
    flex-direction: column;
}

i {
    color: yellow;
    margin-right: 3%;
}

.mainTitle {
    margin-left: 4%;
    font-size: 150%;
}

.openclassrooms {
    background-color: tomato;
    display: flex;
    flex-direction: row;
}

.lycee {
    background-color: violet;
    display: flex;
    flex-direction: row;
}

.date {
    margin-right: 20%;
}

.informations {
    width: 55%;
    margin-left: 5%;
}

/* Experiences */


.experiences {
    background-color: red;
    order: 3;
}

i {
    color: yellow;
    margin-right: 3%;
}

.mainTitle {
    margin-left: 4%;
    font-size: 150%;
}

<<<<<<< HEAD
/* smartphone portrait */

@media all and (max-device-width: 480px) {
    html {
        font-size: 170%;
    }
    #sidebar {
        display: none;
    }
=======
.experience1 {
    background-color: tomato;
    display: flex;
    flex-direction: row;
}
>>>>>>> FlexBox

.experience2 {
    background-color: violet;
    display: flex;
    flex-direction: row;
}

/* recommandations */


.recommandations {
    background-color: hotpink;
    order: 4;
}

.reco {
    display: flex;
    flex-direction: row;
}

.recommandationListe1 {
    display: flex;
    flex-direction: column;
}

.recommandationListe2 {
    display: flex;
    flex-direction: column;
}

.recommandation2 {
    margin-left: 20%;
}

.perso {
    order: 5;
}

/* media query test */

@media (min-device-width: 812px) {

    .perso {
        display: none;
    }
}

@media all and (max-device-width: 812px) {

    html {
        font-size: 80%;

    }

    .titreInfo {
        font-size: 400%;
    }

    .metier {
        font-size: 300%;
    }

    .mainTitle {
        font-size: 300%;
    }

    .reco {
        font-size: 200%;
    }

    .sidebar {
        display: none;
    }

    .perso {
        background-color: #FDD835;
        flex-direction: column;
        display: flex;
    }

    .pp {
        display: flex;
        margin-left: 43%;
        -webkit-border-radius: 75px;
        -moz-border-radius: 75px;
        border-radius: 75px;
        width: 135px;
        height: 135px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .listeLoisirs {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-right: 10%;
        font-size: 300%;
    }

}